.explorer-map-container{
    height: 70rem !important;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.explorer-header{
    font-weight: 800;
    letter-spacing: -0.12rem;
    font-size: 4rem;
    text-align: center;
    margin-bottom: -5%;
}