.markdown-container{
    color: white;
    margin: 0 auto;
    width: 70%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important; 
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 4rem;
}
.markdown-container img{
    width: 70%;
    margin: 5% 5%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 30px rgb(255 255 255 / 0.2);
    /* box-shadow: 14px 14px 40px rgba(16, 16, 18, 0.75), -10px 17px 17px #505b61; */

}
.markdown-container h2{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 2rem;
    font-weight: 600;
}
.markdown-container h1{
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -0.1rem;
}
.markdown-container h3{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1.7rem;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .markdown-container{
        width: 100%;
    }
    .markdown-container img{
        width: 100%;
        margin: 5% auto;
        border-radius: 20px;
        box-shadow: 0 4px 30px rgb(255 255 255 / 0.2);
    }
    
}