
.place-item{
    border: 2px solid white;
    border-radius: 20px;
    margin: 5%;overflow: hidden;
}

.place-info{
    padding: 5%;
    font-size: 1.2rem;
}
.place-image-container{
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -0.05rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}
.place-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
}