.user-item{
    margin: 10%;
    display: flex;
    justify-content: space-evenly;
    padding: 10%;
    background: linear-gradient(138.69deg, #1F2328 0%, #1A1C1F 100%);
    box-shadow: 14px 14px 40px rgba(16, 16, 18, 0.75), -7px -7px 30px #262E32;
    border-radius: 8px;    
}

.user-item:hover{
    zoom: 1.02;
    background: linear-gradient(138.69deg, #1F2328 0%, #1A1C1F 100%);
    box-shadow: 14px 14px 40px rgba(16, 16, 18, 0.75), -7px -7px 30px #505b61;
}
.user-photo{
    width: 40%;
}
img{
    width: 100%;
    height: 100%;
}
.user-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.user-name{
    font-size: 1.25rem;
    font-weight: 600; 
    color: #FDFDFD;
}
.user-places{
    font-size: 1.1rem;
    font-weight: 400;
    color: #7F8489;

}