.modal {
  z-index: 100;
  position: fixed;
  top: 11vh !important;
  left: 10%;
  width: 80%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 20px;
  color: black;
  display: block;
  border: none;
  height: 50rem !important;
  
}
  
.modal-header {
  width: 100%;
  padding: 1rem 0.5rem;
  background: #282828;
  
  color: white;
  border: none;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: -0.03rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid white;
}

.modal-content {
  padding: 2%;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #282828;
  border: none;

}

.modal-footer {
  padding: 3%;
  display: flex;
  border: none;
  flex-direction: row;
  justify-content: center;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

.modal-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.modal-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
}
