.add-place-header{
    font-weight: 800;
    letter-spacing: -0.12rem;
    font-size: 4rem;
    text-align: center;
    margin: 5%;
}

.form-subheading{
    font-size: 1.5rem !important;
    font-weight: 600;
}